.setDisplay, .displayStyle {
    display: none;
}

.modalBackground1 {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup1 {
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
}


.GlassPanel {
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=70);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 110;
    cursor: not-allowed;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalPopup {
    background-color: #FFFFFF;
    width: 300px;
    border: 3px solid #0DA9D0;
    padding: 0;
}

    .modalPopup .header {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }

    .modalPopup .body {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
    }

.typingmodehindi {
    font-family: 'Kruti Dev 011' !important;
    font-size: 20px !important;
}
/*.ParentAccordionContent {
    border-color: -moz-use-text-color #5078B3;
    border-right: 1px dashed #2F4F4F;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 10px 5px 5px;
    width: 50%;
    text-align: center;
    background-color: #c1e2f5;
}

.ParentAccordionHeader {
    cursor: pointer;
    font-family: Arial,Sans-Serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #2F4F4F;
    width: 50%;
    background: url(images/img-collapse.png) no-repeat 750px 7px;
    background-color: #425e89;
    color: white;
    text-align: left;
}

.ParentAccordionHeaderSelected {
    color: white;
    cursor: pointer;
    font-family: Arial,Sans-Serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #2F4F4F;
    width: 50%;
    background: url(images/img-expand.png) no-repeat 750px 7px;
    background-color: #2fa4e7;
    text-align: center;
}

.ChildAccordionContent {
    border-color: -moz-use-text-color #72b65a;
    border-right: 1px dashed #2F4F4F;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 10px 5px 5px;
    width: 98%;
    text-align: left;
    background-color: #cbebbf;
}

.ChildAccordionHeader {
    cursor: pointer;
    font-family: Arial,Sans-Serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #2F4F4F;
    width: 98%;
    background: url(images/arrow_down.png) no-repeat 720px 7px;
    background-color: #3e6331;
    color: white;
    text-align: left;
}

.ChildAccordionHeaderSelected {
    color: white;
    cursor: pointer;
    font-family: Arial,Sans-Serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #2F4F4F;
    width: 98%;
    background: url(images/arrown_up.png) no-repeat 720px 7px;
    background-color: #6ca359;
    text-align: center;
}*/

.GridPager a,
.GridPager span {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    border: 1px solid #3AC0F2;
}

.dataTables_scrollBody {
    transform: rotateX(180deg);
}

    .dataTables_scrollBody table {
        transform: rotateX(180deg);
    }

/*table.dataTable.fixedHeader-floating {
    display: none !important;*/ /* Hide the fixedHeader since we dont need it*/
/*}

.dataTables_scrollHeadInner {
    margin-left: 0px;
    width: 100% !important;
    position: fixed;
    display: block;
    overflow: hidden;
    margin-right: 30px;
    background: white;
    z-index: 1000;
}

.dataTables_scrollBody {
    padding-top: 60px;
}*/
